<div class="banner"></div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1" class=""></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img src="./assets/img/cover_xs.jpg" alt="First slide">
			<div class="container">
				<div class="carousel-caption">
				</div>
			</div>
		</div>
		<div class="item">
			<img src="./assets/img/cover2.jpg" alt="Second slide">
			<div class="container">
				<div class="carousel-caption">
					<img src="./assets/img/fonts/title1.png" />
						<div><strong>週一至週五</strong></div>
						<div class="col-xs-12">10:30 ~ 14:00</div>
						<div>16:30 ~ 19:30</div>
						<div><strong>週六 <mark>西湖店公休</mark></strong></div>
						<span>10:30 ~ 14:00</span>
						<div><strong><mark>週日東湖、西湖公休</mark></strong></div>
				</div>
			</div>
		</div>
		<div class="item">
			<img src="./assets/img/cover3.jpg" alt="Third slide">
			<div class="container">
				<div class="carousel-caption">
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="http://getbootstrap.com/examples/carousel/#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="http://getbootstrap.com/examples/carousel/#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
		<span class="sr-only">Next</span>
	</a>
</div><!-- /.carousel -->
<script>
	$('.carousel').carousel({
		interval: 8000
	});
</script>
<br/>
<div class="container marketing">
	<div class="row" ng-repeat="boxes in $parent.boxesType">
		<div ng-class="boxes.width" ng-repeat="box in boxes.data" style="text-align:center">
			<div class="image">
				<img class="img-circle" ng-src="{{box.url}}" alt="Generic placeholder image" style="width: 140px; height: 140px;" data-toggle="tooltip" data-placement="left" title="{{box.description}}">
				<span class="img-text">
					<span class="inner-text">
						<button class="btn btn-default" type="button" ng-click="increase(box)">
							<span class="glyphicon glyphicon-plus-sign"></span>
						</button>
						<input type="number" class="form-control input-lg" ng-model="box.quantity" ng-change="update()" placeholder="點我輸入" min="0">
						<button class="btn btn-default" type="button" ng-click="decrease(box)">
							<span class="glyphicon glyphicon-minus-sign"></span>
						</button>
					</span>
				</span>
			</div>
			<div class="row">
				<h3 class="col-sm-12 col-xs-12">
					<label class="box-name col-xs-12" ng-bind="box.name"></label>
					<div class="label label-default">
						<span class="glyphicon glyphicon-usd"></span>
						<span ng-bind="box.price"></span>
						<span class="glyphicon glyphicon-shopping-cart"></span>
						<label ng-bind="box.quantity*box.price"></label>
					</div>
				</h3>
			</div>
			<p ng-bind="box.description"></p>
		</div>
	</div>		
	<div class="row">
		<div ng-repeat="boxes in $parent.specialBoxes.data" class="panel panel-success {{specialBoxes.width}}" style="display:inline-block;border:0;-webkit-box-shadow:none;box-shadow:none">
			<div class="panel-heading"><h3 class="panel-title" ng-bind="boxes.provider"></h3></div>
			<div class="panel-body {{boxes.width}}" ng-repeat="box in boxes.data" style="text-align:center">
				<div class="image">
					<img class="img-circle" ng-src="{{box.url}}" alt="Generic placeholder image" style="width: 140px; height: 140px;" data-toggle="tooltip" data-placement="left" title="{{box.description}}">
					<span class="img-text">
						<span class="inner-text">
							<button class="btn btn-default" type="button" ng-click="increase(box)">
								<span class="glyphicon glyphicon-plus-sign"></span>
							</button>
							<input type="number" class="form-control input-lg" ng-model="box.quantity" ng-change="update()" placeholder="點我輸入" min="0">
							<button class="btn btn-default" type="button" ng-click="decrease(box)">
								<span class="glyphicon glyphicon-minus-sign"></span>
							</button>
						</span>
					</span>
				</div>
				<div class="row">
					<h3 class="col-sm-12 col-xs-12">
						<label class="box-name col-xs-12" ng-bind="box.name"></label>
						<div class="label label-default">
							<span class="glyphicon glyphicon-usd"></span>
							<span ng-bind="box.price"></span>
							<span class="glyphicon glyphicon-shopping-cart"></span>
							<label ng-bind="box.quantity*box.price"></label>
						</div>
					</h3>
				</div>
				<p ng-bind="box.description"></p>
			</div>
		</div>
	</div>	
	<hr class="featurette-divider">
	<div class="row featurette">
		<div class="col-md-7 ads">
			<h2 class="featurette-heading">用心製作 <span class="text-muted">屬於我們的台灣味</span></h2>
			<p class="lead">嚴選在地新鮮食材<br/>以簡單的調味，保留食材最單純的美味<br/>古法烹調出懷舊的【古早味火車便當】</p>
		</div>
		<div class="col-md-5">
			<img class="featurette-image img-responsive img-rounded" name="right_img" data-src="holder.js/500x400" alt="500x400" src="/assets/img/licence.jpg" data-holder-rendered="false">
		</div>
	</div>
	<hr class="featurette-divider" />
	<footer>
		<div style="right:0">
		<a class="media-right media-middle" ng-repeat="link in $parent.links" href="{{link.url}}">
			<img class="media-object" ng-src="{{link.image}}" style="width:32px">
		</a></div>
		<p class="pull-right"><a href="" onclick="gototop()">回到上面</a></p>
		<p style="text-align:center">© 2014 - 2015 穀豐新福隆古早味便當</p>
	</footer>
</div>